@use './colors' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
}

nav {
	.navbar-toggler {
		padding: 10px 15px;
	}

	.navbar-brand {
		font-weight: bold;
	}

	text-transform: uppercase;
	.nav-link,
	.navbar-nav .nav-link.show,
	.navbar-brand,
	.fa-bars {
		color: $white;
	}

	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show {
		color: $main-color;
	}
}
